html body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #213A57;
    box-sizing: border-box;
    overflow-y: auto;
    align-items: center;
}

header nav{
    box-sizing: border-box;
    background-color: #0B6477;
    padding: 10px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: start;
}

header form{
    margin: 0 10px 0 10px;
}

.arrow{
    border: none;
    background-color: transparent;
}


h1{
    font-size: 10px;
    margin-left: 15px;
    color: white;
}

.arrow-left{
    margin-left: 5px;
    size: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

.change-color{
    display: flex;
    width: fit-content;
    border-radius: 50%;
    margin-left: 35%;
    margin-right: 20%;
    justify-items: space-between;
    align-items: center;
    right: 10px;
}

.change-color div{
    display: block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
}
.lMode{
    border: 5px solid rgb(5, 61, 61);
    background-color:aliceblue;
}

.dMode{
    border: 5px solid rgb(5, 61, 61);
    background-color:rgb(43, 45, 47);
}

.bMode{
    border: 5px solid rgb(5, 61, 61);
    background-color:rgb(9, 49, 85);
}
.yMode{
    border: 5px solid rgb(5, 61, 61);
    background-color:rgb(172, 170, 100);
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container{
    margin: 60px 20px 30px 20px;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    width: 90vw;
    height: 100vh;
    border-radius: 10px;
    border: none;
    outline: none;
}

.container-lMode {
    background-color: aliceblue;
    color: black !important;
    transition: 1000ms ease-in-out;
}
.container-lMode input, .container-lMode textarea {
    color: black !important; 
}

.container-dMode {
    background-color: #161616;
    color: aliceblue !important;
    transition: 1000ms ease-in-out;
}
.container-dMode input, .container-dMode textarea {
    color: aliceblue !important;
}

.container-bMode {
    background-color: rgb(9, 49, 85);
    color: aliceblue !important;
    transition: 1000ms ease-in-out;
}
.container-bMode input, .container-bMode textarea {
    color: aliceblue !important;
}

.container-yMode {
    background-color: rgb(172, 170, 100);
    color: rgb(0, 0, 0) !important;
    transition: 1000ms ease-in-out;
}
.container-yMode input, .container-yMode textarea {
    color: rgb(0, 0, 0) !important;
}

.form-group{
    margin-bottom: 20px;
    border: none;
}

.title, .description{
    border: none;
    outline: none;
    background-color: transparent;
}

.title{
    font-weight: bold;
    font-size: 20px;
}


textarea{
    width: 100%;
    height: 200px;
    outline: none;
    background-color: transparent;
    overflow-y: auto;
}

.check-mark{
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 15px;
    padding: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    border-width: 2px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border: solid black;
}

